<p class="roullet-section__winner">결과 당첨!</p>

<div class="roullet-section__roullet">
    <canvas class="roullet-roll" width="470" height="470"></canvas>
    <button class="start-button">START</button>

    <svg class="roullet-arrow" width="58" height="87" viewBox="0 0 58 87" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g filter="url(#filter0_d_34_24)">
    <path d="M44.5 1H4C2.34315 1 1 2.34315 1 4V54.7384C1 55.5453 1.32499 56.3181 1.90161 56.8824L22.3789 76.924C23.554 78.0742 25.436 78.064 26.5986 76.9014L46.6213 56.8787C47.1839 56.3161 47.5 55.553 47.5 54.7574V4C47.5 2.34315 46.1569 1 44.5 1Z" fill="#2A59FE" fill-opacity="0.4" shape-rendering="crispEdges"/>
    <path d="M44.5 1H4C2.34315 1 1 2.34315 1 4V54.7384C1 55.5453 1.32499 56.3181 1.90161 56.8824L22.3789 76.924C23.554 78.0742 25.436 78.064 26.5986 76.9014L46.6213 56.8787C47.1839 56.3161 47.5 55.553 47.5 54.7574V4C47.5 2.34315 46.1569 1 44.5 1Z" stroke="black" stroke-width="2.8" shape-rendering="crispEdges"/>
    </g>
    <defs>
    <filter id="filter0_d_34_24" x="0" y="0" width="57.5" height="86.78" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
    <feOffset dx="5" dy="4"/>
    <feGaussianBlur stdDeviation="2"/>
    <feComposite in2="hardAlpha" operator="out"/>
    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"/>
    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_34_24"/>
    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_34_24" result="shape"/>
    </filter>
    </defs>
    </svg>
    
</div>