<p class="roullet-section__winner">결과 당첨!</p>

<div class="roullet-section__roullet">
  <canvas class="roullet-roll" width="490" height="490"></canvas>
  <button class="start-button">START</button>

  <img class="roullet-arrow" src="./arrow.svg" alt="arrow.svg" />
</div>

<div class="result-history">
  <button id="open-history-modal">결과내역</button>
</div>

<div class="history-modal hidden">
  <div class="history-modal_overlay"></div>
  <div class="history-modal_content">
    <button class="close-btn">X</button>
    <h1>결과 확인</h1>
    <button class="clear-btn">결과 전체 삭제</button>
    <div class="results-section"></div>
  </div>
</div>
