.item-section__item {
  display: flex;
  align-items: center;
  gap: 2em;
  list-style-type: none;
}

.item-section__item input {
  height: 3em;
  border-radius: 5px;
  font-size: 1em;
  text-align: center;
  transition: all 0.25s;
}

.item-section__item input:focus {
  outline: none;
}

.item-section__item-checkbox {
  transform: scale(2);
}

.item-section__item-name {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 0.75em;
  border: 1px solid #7f9bfe9e;
  border-radius: 5px;
  transition: all 0.25s;
}

.item-section__item-name:focus-within {
  box-shadow: 0px 0px 1px 1px #7f9bfe;
}

.item-section__item-name-index {
  width: 2em;
  display: inline-block;
  padding-right: 0.25em;
  border-right: 1px solid #2A59FE;
}

.item-section__item-name-input {
  width: 100%;
  min-width: 3em;
  padding-left: 0.75em;
  border: none;
}

.item-section__item-ratio {
  min-width: 2em;
  max-width: 6em;
  border: 1px solid rgba(118, 118, 118, 0.362);
}

.item-section__item-ratio:focus {
  box-shadow: 0px 0px 1px 1px rgb(118, 118, 118);
}

.item-section__item-remove-button {
  padding: 0.25em;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.25s;
}

.item-section__item-remove-button svg path {
  fill: rgba(128, 128, 128, 0.79);
  transition: all 0.25s;
}

.item-section__item-remove-button:hover {
  background-color: rgba(235, 233, 233, 0.23);
}

.item-section__item-remove-button:hover svg path {
  fill: black;
}

@media screen and (max-width: 650px) {
  .item-section__item {
    gap: 1em;
  }
}
